<!-- layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Website</title>
  <script src="main.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
  <nav>
    <a href="/" >Home</a>
    <a href="/panda" >Panda</a>
    <a href="/json" >JSON</a>
    <a href="/query-string?name=orlando&age=21&gender=female" >Query String</a>
    <a href="/form" >Form</a>
  </nav>

  <%= yield %>

  <footer>
    Martin is the best
  </footer>
</body>
</html>