<h1>Pokemons#index</h1>
<p>Find me in app/views/pokemons/index.html.erb</p>

<% @pokemons.each do |pokemon| %>
  <%= pokemon.name %>
<% end %>

<%= render partial: "users", locals: { users: @users } %>