body {
  margin: 0;
}

header, section, footer {
  height: 600px;
  font-size: 40px;
  font-family: sans-serif;
  padding: 20px;
}

header {
  background-color:#b9b8d3;
  text-align: right;
  color: #1F2D3D;
}

section {
  text-align: center;
}

section:nth-child(odd) {
  background-color:#759FBC;
  color: #fff;
}

section:nth-child(even) {
  background-color:#b9b8d3;
  color: #1F2D3D;
}

footer {
  background-color:#b9b8d3;
  color: #1F2D3D;
  text-align: center;
}