<form action="/person" method="post">
  <input type="text" name="name" placeholder="Enter your name">
  <input type="text" name="age"  placeholder="Enter your age">
  <input type="submit" value="Go">
</form>