<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css">
  <script src="/main.js" defer></script>
</head>
<body>
  <nav>
    <a href="/">Landing Page</a>
    <a href="/list-addresses">List Addresses</a>
    <a href="/list-names-addresses">List Names and Addresses</a>
  </nav>

  <%= yield %>
</body>
</html>