p {
  height: 200px;
  width: 200px;
  background-color: black;
}

.large {
  animation-name: grow;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes grow {
  0% {
    height: 200px;
    width: 200px;
  }

  100% {
    height: 400px;
    width: 400px;
  }
}