<h1>Signup or Login</h1>

<h2>Signup Form</h2>
<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Enter username"><br>
  <input type="password" name="password" placeholder="Enter password"><br>
  <input type="submit" value="Signup">
</form>

<h2>Login Form</h2>
<form action="/login" method="post">
  <input type="text" name="username" placeholder="Enter username"><br>
  <input type="password" name="password" placeholder="Enter password"><br>
  <input type="submit" value="Login">
</form>