<!-- form.erb -->
<form action="/form" method="post">
  <input type="text" name="name" placeholder="Enter your name" value="<%= @name %>">
  <input type="text" name="age" placeholder="Enter your age" value="<%= @age %>">
  <input type="text" name="gender" placeholder="Enter your gender" value="<%= @gender %>">

  <input type="submit" value="Go">
</form>