<h1>Sign up</h1>

<!-- 
  the action and the method indicate which route it will submit to
    post "/signup" in app.rb
-->
<form action="/signup" method="post">
  <!-- will be stored in the variable params[:username] in app.rb -->
  <input type="text" name="username" placeholder="Username">

  <!-- will be stored in the variable params[:password] in app.rb -->
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Go!">
</form>