<h1>Signin</h1>

<form action="/signin" method="post">
  <input type="text" name="username" id="" placeholder="Username">
  <input type="password" name="password" id="" placeholder="Password">
  <input type="submit" value="Go!">
</form>