<!-- we create a ul to list our users -->
<ul>
<!-- loops thru all users stored in @users -->
<% @users.each do |user| %>
  <!-- 
    for every user, display their username and password:
      within an li html element
  -->
  <li>
    Username: <%= user.username %><br />
    Password: <%= user.password %>
  </li>
<% end %>
</ul>