#users-index {
  h1 {
    color: red;
  }

  img {
    height: 100px;
  }

  .frame {
    height: 400px;
    width: 400px;
    background-image: image-url('clouds.jpeg');
    background-position: center center;
  }
}