div {
  background-color: blue;
  height: 100px;
  width: 100px;
  transition: height 1s, width 2s linear 1s, top 1s linear 2s, left 1s linear 2s;
  position: relative;
  top: 0;
  left: 0;
  animation: move;
  animation-duration: 1s;
}

/* div:hover {
  height: 50px;
  width: 25px;
  top: 100px;
  left: 30px;
  background-color: red;
} */

@keyframes move {
  0% {
    top: 0;
  }

  100% {
    top: 100px;
  }
}