<h1>Books#show</h1>
<p>Find me in app/views/books/show.html.erb</p>

<strong>Name:</strong> <%= @book.name %>

<%= link_to "Edit", edit_book_path(@book.id) %>
<%= link_to "Delete", book_path(@book.id), method: :delete %>