<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_with(model: @user) do |form| %>
  Username: <%= form.text_field(:username) %><br />
  Password: <%= form.password_field(:password) %><br />
  <%= form.submit %>
<% end %>