<h1>Sign In</h1>

<form action="/sign-in" method="post">
  <input type="text" name="username" id="username" placeholder="Username">
  <input type="password" name="password" id="password" placeholder="Password">
  <input type="submit" value="Go">
</form>